html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.box-container {
  min-height: 55vh;
}
.box-container {
  margin-top: 100px;
}
.box {
  display: block;
  height: 40px;
  width: 40px;
}

.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
.grey {
  background-color: grey;
}
